.daily-stt .ant-table {
  font-size: 12px !important;
}

.daily-stt .ant-table-thead > tr > th {
  background-color: #0074cc !important;
  color: white !important;
  text-align: center !important;
  font-weight: 600;
}

.daily-stt .subtotal-row {
  background-color: #f2f2f2 !important;
  font-weight: bold;
}

.daily-stt .grandtotal-row {
  background-color: #ffe599 !important;
  font-weight: bold;
}

.daily-stt .ant-table-cell {
  border: 1px solid #bebebe;
}

.daily-stt
  .ant-table-tbody
  > tr:not(.subtotal-row):not(.grandtotal-row):hover
  > td {
  background-color: rgb(190, 255, 255) !important;
  font-weight: 500;
}
